.each-good-content
    a(href="http://shpargalkablog.ru/2013/09/scroll-block.html")
    p
        a(href='#') Категория
        |  > Какой-то товар
    h1.title !{card.title}
    .card-content
        .card-imgs
            .card-img-side
                - let i = 0
                while i < card.img_len
                    img(src="src/img/carts/"+card.id+"/"+ i++ +".png" alt='')
            .card-img-main
                img(src="src/img/carts/" + card.id + "/0.png" alt='')

        .each-good-description
            //.title !{card.title}
            .price
                if(card.discount > 0)
                    - let disPrice = card.price * (1 - (card.discount / 100))
                    p.discount -!{card.discount}%
                    p.discount-price !{card.price.toString().replace(/(\d)(?=(\d{3})+(\D|$))/g, '$1 ')} ₽
                    p.main-price !{disPrice.toString().replace(/(\d)(?=(\d{3})+(\D|$))/g, '$1 ')} ₽
                else
                    p.main-price !{card.price.toString().replace(/(\d)(?=(\d{3})+(\D|$))/g, '$1 ')} ₽

            .inner-content
                .cont-main

                    if(card.description)
                        p #[strong Описание]
                        p.description !{card.description}
                    if(card.modifications)
                        p #[strong Модификации]
                        .modifications
                            for modification in card.modifications
                                .modification-name Модификация !{modification.name}liy
                                .colors
                                    p #[strong Цвета]
                                    for color_id in modification.colors
                                        img.color(data-id=color_id src="src/img/carts/"+color_id+"/0.png" alt="")
                    if(card.colors)
                        p #[strong Цвета]
                        .colors
                            for color_id in card.colors
                                img.color(data-id=color_id src="src/img/carts/" + color_id + "/0.png" alt="")

                    .calc
                        - let attributes = card.inBasket ? {disabled: "true"} : {};
                        button.add-card(data-id=card.id)&attributes(attributes) Добавить товар
                        buuton.add-favorite.like-each-card(class=card.inFavorites ? "active" : "" data-id=card.id)
                .characters-min
                    p #[strong О товаре]
                    for top_character in card.characters
                        if(top_character.name == "Общие характеристики")
                            //.character-name #[strong !{top_character.name} :]
                            for character in top_character.value
                                .charact-cont
                                    .character #[i !{character.name}]
                                    div !{character.value}
                    - moment.locale('ru');
                    - let delivery = moment().add(card.delivery, 'days').format("ddd, Do MMM")
                    - delivery = delivery.charAt(0).toUpperCase() + delivery.slice(1);
                    p.delivery #[strong Доставка] #{delivery}
                    p.sales #[strong Продано] !{card.sales} шт.
.characters
    .characteristics #[m Характеристики]
    for top_character in card.characters
        if(top_character.name != "Общие характеристики")
            .character-name #[strong !{top_character.name}]
            for character in top_character.value
                .charact-cont
                    .character #[i !{character.name}]
                    div !{character.value}

include ../../Similar/view/similarWrapper