each card in cards
    .card-wrapper
        .card-img-wrapper
            img.card-img-top(data-each-id=card.id src=card.img alt='')
            button.add-favorite(class=card.inFavorites ? "active" : "" data-id=card.id)
        .card-body.justify-content-between
            .card-title(data-each-id=card.id) !{card.title}
            .card-price !{card.price.toFixed(2).toString().replace(/(\d)(?=(\d{3})+(\D|$))/g, '$1 ')} ₽
